
# Webscraping

This Jupyter notebook includes some code to get you started with web scraping.We will use a package called "BeautifulSoup" to collect data
from web. Once you've collected your data and saved it into local .csv file you should start with your analysis.

 If you visit this link:"https://www.airlinequality.com/airline-reviews/qatar-airways/", you can see lot of data in that site. For this task we are only interested in reviews related to qatar-airways. Now, we can use Python and Beautiful Soup to collect data from each individual review link.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
#get the url skytrax website for scraping user reviews on British Airways
base_url ="https://www.airlinequality.com/airline-reviews/qatar-airways/"
pages = 20
page_size=100

In [3]:
#creating a dictionary for scraping review data.
dict={"Name":[],
      "Review":[],
      "Rating":[],"Verify":[]}
tables = []

In [4]:
# scrape user review and create list conating all required html classes.
for t in range(1, pages + 1):

    print(f"Scraping page {t}")

    # Create URL to collect links from paginated data
    url = f"https://www.airlinequality.com/airline-reviews/qatar-airways/page/{t}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response=requests.get(url).content
    soup=BeautifulSoup(response,"lxml")
    para = soup.find_all("article",{"itemprop":"review"})
    for para2 in soup.find_all("div", {"class": "text_content"}):
        dict["Review"].append(para2.get_text().strip())

Scraping page 1
Scraping page 2
Scraping page 3
Scraping page 4
Scraping page 5
Scraping page 6
Scraping page 7
Scraping page 8
Scraping page 9
Scraping page 10
Scraping page 11
Scraping page 12
Scraping page 13
Scraping page 14
Scraping page 15
Scraping page 16
Scraping page 17
Scraping page 18
Scraping page 19
Scraping page 20

In [5]:
# creating lists and dict for creating Dataframe



columns=[ 'Seat Type', 'Recommended','Aircraft', 'Type Of Traveller', 'Route']  
        
valued_col=['Ground Service', 'Wifi & Connectivity','Seat Comfort','Value For Money', 'Inflight Entertainment',
                'Food & Beverages', 'Cabin Staff Service']


dict2 = {'Aircraft':[], 'Seat Type':[],'Type Of Traveller':[] ,'Recommended':[] ,'Ground Service':[],
        'Wifi & Connectivity':[], 'Seat Comfort':[], 
        'Value For Money':[], 'Inflight Entertainment':[],
        'Food & Beverages':[], 'Cabin Staff Service':[],'Route':[]}

In [6]:
#finding review caegories given by customer.

list=[]
for rev in para:
    table=rev.find("table",{"class":"review-ratings"})
    rows = table.find_all("tr")
    for row in rows:
        data=row.find_all("td")
        for x in data:
            list.append(x.get_text())

double_li = [list[x:x+2] for x in range(0,len(list),2)]





# to find column elements
l=[]
for x in double_li:
    t=x[0]
    l.append(t)     # appending table columns to a list "l"
s=set(l)            # getting unique values
print(s)
len(s)

{'Ground Service', 'Cabin Staff Service', 'Type Of Traveller', 'Value For Money', 'Inflight Entertainment', 'Seat Type', 'Route', 'Seat Comfort', 'Recommended', 'Wifi & Connectivity', 'Food & Beverages', 'Aircraft', 'Date Flown'}

13

In [ ]:
# # finding the date when customer given review

# for t in range(1, pages + 1):
   
#     for rev in para:
#         date = rev.find("meta")["content"]
#         if date == None:
#             dict["Date"].append("NA")
#         elif date != None:
#             dict["Date"].append(date)

In [7]:
for t in range(1, pages + 1):  #getting overall rating given by customer.
    for rev in para:
        rating=rev.find("div",{"class":"rating-10"}).find("span",{"itemprop":"ratingValue"})
        if rating == None:
            dict["Rating"].append("NA")
        elif rating !=None:
            dict["Rating"].append(rating.text)

In [8]:
for t in range(1, pages + 1): # getting name of customer.
    for rev in para:
    
        names=rev.find("h3").find("span",{"itemprop":"author"}).find("span",{"itemprop":"name"})
        if names == None:
            dict["Name"].append("NA")
        elif names != None:
            dict["Name"].append(names.get_text())

In [9]:
 # checking and getting verification status of review

for t in range(1, pages + 1):   
    for rev in para:
        verify=rev.find("div",{"class":"tc_mobile"}).find("div",{"class":"text_content"}).find("a")
        if verify==None:
            dict["Verify"].append("NA")
        elif verify != None:
            dict["Verify"].append(verify.get_text())

In [10]:
len(dict["Rating"])

2000

In [11]:
# obtaining all rows of the table

row_data=[]
for t in range(1,pages+1):
    
    for rev in para:
        table=rev.find("table",{"class":"review-ratings"})
        rows = table.find_all("tr")
        row_data.append(rows)

In [12]:
# moving all table keys and values into a dictionary

for t in range(1,pages+1):

    j=0
    while j < 100:
        ele_li=[]
        for ele in row_data[j]:
            col = ele.find_all("td")
            ele_li.append(col)
        
        i=0
        while i < len(ele_li):
            for k in columns:
                dict2[k]
                if ele_li[i][0].get_text() == k:
                    dict_val=ele_li[i][1].get_text()
                    dict2[k].append( dict_val)
        
            for k in valued_col:
                if ele_li[i][0].get_text() == k:
                    str=""

                    for q in ele_li[i]:
                        rate = q.find_all("span",{"class":"star fill"})
            
                        for x in rate:
                            str +=x.get_text()
                    dict2[k].append(str[-1])
            i +=1

        lens = dict2.keys()
        for item in lens:
            if len(dict2[item]) != len(dict2["Recommended"]):
                dict2[item].append("NA")
        j+=1

print("successful")

successful

In [13]:
lens = dict2.values()
for item in lens:
    print(len(item))

2000
2000
2000
2000
2000
2000
2000
2000
2000
2000
2000
2000

In [14]:
res = {**dict, **dict2} #appending two dictionaries.

In [15]:
df = pd.DataFrame(res)
df.head()

,Name,Review,Rating,Verify,Aircraft,Seat Type,Type Of Traveller,Recommended,Ground Service,Wifi & Connectivity,Seat Comfort,Value For Money,Inflight Entertainment,Food & Beverages,Cabin Staff Service,Route
0,G Thompson,✅ Trip Verified | We flew on probably the firs...,8,NA,Boeing 787 / A320,Economy Class,Solo Leisure,yes,3,NA,2,5,4,4,3,Johannesburg to Istanbul (SAW) via Doha
1,Nico Brandts,"✅ Trip Verified | Service was ok, pretty good...",8,NA,Boeing 787 / 777-300ER,Economy Class,Solo Leisure,yes,4,3,3,4,3,3,4,AMS to BKK via DOH
2,Dave Houlihan,✅ Trip Verified | 12th February 2024 From chec...,5,NA,Boeing 787,Business Class,Business,yes,1,1,5,3,4,2,5,Dubai DWC to Johanesburg via Doha
3,Thomas Kingston,Not Verified | Remarkable experience. Great t...,9,NA,Boeing 777-300ER,Economy Class,Solo Leisure,yes,3,NA,4,4,4,4,4,London to Doha
4,Thomas Kingston,✅ Trip Verified | My last travel in January 2...,7,NA,A330-200,Economy Class,Solo Leisure,yes,3,NA,2,4,1,4,3,Doha to Jakarta

In [16]:
df.to_csv("CustomerReviews.csv",index=False)